
html,body{
    background-color: aquamarine;
}

.btn{
    margin-left: 18%;
    background-image: linear-gradient(to right, rgb(255, 136, 0),rgb(255, 208, 0));
    padding: 10px;
    border: 1px solid white;
    font-size: medium;
    font-family: cursive;
}

a{
    text-decoration: none;
    color: #fff;
}

.div1{
    margin-left: 28%;
}

.head2{
    margin-top: -10%;
    margin-left: 20%;
    font-family: cursive;
}

.input{
    margin-left: 20%;
    margin-bottom: 20px;
}

.img2{
    height: 30%;
    width: 30%;
    margin-top: -100%;
    margin-left: -30%;
    transform: rotate(-30deg);
}

.img3{
    height: 30%;
    width: 30%;
    transform: rotate(20deg);
}

.h1{
    font-family: cursive;
}

h3{
    font-family: cursive;
}